@import url('./fonts/fonts.css');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0D2B52;
    color: #FFF;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 50px 50px;
    background-position: 
        0 0, 
        0 0;
    position: relative;
}

h1{
    color: #ffc857;
    text-align: left;
    font-family: "R&C Basic Full", Public Sans, sans-serif;
    font-size: 6rem;
    word-spacing: -20px;
}

h2{
    color: #a8f0ae;
    text-align: left;
    font-family: "R&C Basic Full", Public Sans, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p{
    color: #dbe4ee;
    text-align: left;
    margin-top: 0;
    margin-left: 15px;
    font-family: "R&C Basic Full", Public Sans, sans-serif;
    font-size: 2.5rem;
    width: 750px;
    line-height: 1.5;
    letter-spacing: 0.005em;
}

a{
    color: inherit;
    text-decoration: none;
}

#nagpur{
    position: relative;
    bottom: 23px;
    color: #a8f0ae;
    font-size: 6rem;
    font-family: "R&C Basic Full", Public Sans, sans-serif;
    font-weight: bold;
}

#by-teenagers{
    display: inline-block;
    background-color: #fe8e86;
    color: #0D2B52;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    transform: rotate(5deg);
    font-weight: bold;
}

#by-teenagers:hover{
    transition: all 0.2s ease-in-out;
    scale: 1.2;
    cursor: default;
    background-color: #bd4c44;
}

#for-teenagers{
    display: inline-block;
    background-color: #a8f0ae;
    color: #0D2B52;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    transform: rotate(-3deg);
    font-weight: bold;
}

#for-teenagers:hover{
    transition: all 0.2s ease-in-out;
    scale: 1.2;
    cursor: default;
    background-color: #dbe4ee;
}

#heading{
    display: grid;
    grid-template-rows: min-content;
    margin-top: 80px;
    margin-left: 15px;
}

#components-svg{
    visibility: hidden;
    width: 0;
    height: 0;
}

#blueprint-logo{
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 200px;
    height: auto;
}

#blueprint-logo:hover{
    scale: 1.2;
    transition: all 0.2s ease-in-out; 
}


#blueprint-text-logo{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: auto;
}

#conveyor-belt{
    position: absolute;
    top: 127px;
    left: 1000px;
    transform: translateX(-50%);
    z-index: -1;
}

#build-guild-logo{
    position: absolute;
    top: 20px;
    right: 18px;
    animation: rotate 5s linear infinite;
    transform-origin: center;
}

#build-guild-small-logo{
    position: absolute;
    top: 250px;
    right: 305.5px;
    animation: rotate 3.5s linear infinite;
    transform-origin: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.normal-button{
    position: absolute;
    top: 1000px;
    bottom: 40px;
    left: 30px;
    height: fit-content;
    padding: 15px 30px;
    background-color: #ffc857;
    color: #0D2B52;
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    font-family: "R&C Basic Dark", Public Sans, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.normal-button:hover{
    background-color: #ffb347;
    transition: all 0.2s ease-in-out;
    scale: 1.2;
    cursor: pointer;
}

.normal-button:active{
    background-color: #ffc857;
    transition: all 0.2s ease-in-out;
    scale: 0.9;
    cursor: grabbing;
}

#donate{
    position: absolute;
    left: 220px;
}

#cursor{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 5px;
    height: 30px;
    background-color: #fff;
    pointer-events: none;
    animation: cursor-blink 1s infinite alternate;
}

.navbar{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: "R&C Basic Dark", Public Sans, sans-serif;
    font-size: 1.5rem;
    background-color: #344b6a;
    padding: 15px 30px;
    border-radius: 15px;
}

@keyframes cursor-blink {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
        transform: translateX(5px);
    }
}

#y-axis{
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}

#x-axis{
    height: 100px;
    width: 2px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.card{
    position: absolute;
    top: 700px;
    left: 15px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
}

#about-heading{
    position: absolute;
    top: 550px;
    left: 15px;
    font-family: "R&C Basic Full", Public Sans, sans-serif;
}

@font-face {
    font-family: "R&C Basic Empty";
    src: url(./fonts/RC-BasicEmpty\ \(1\).ttf) format("truetype");
}

@font-face {
    font-family: "R&C Basic Dark";
    src: url(./fonts/RC-BasicDark.ttf) format("truetype");
}

@font-face {
    font-family: "R&C Basic Full";
    src: url(./fonts/RC-BasicFull\ \(1\).ttf) format("truetype");
}

@font-face {
    font-family: "R&C Basic Light";
    src: url(./fonts/RC-BasicLight.ttf) format("truetype");
}

@font-face {
    font-family: "R&C Guidelines";
    src: url(./fonts/RC-GuidelinesLight.ttf) format("truetype");
}

@font-face {
    font-family: "R&C Guidelines Dark";
    src: url(./fonts/RC-GuidelinesDark.ttf) format("truetype");
}

@font-face {
    font-family: "R&C Guidelines Empty";
    src: url(./fonts/RC-GuidelinesEmpty.ttf) format("truetype");
}

@font-face {
    font-family: "R&C Guidelines Full";
    src: url(./fonts/RC-GuidelinesFull.ttf) format("truetype");
}