@import url('./fonts/fonts.css');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0D2B52;
    color: #FFF;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 50px 50px;
    background-position: 
        0 0, 
        0 0;
    position: relative;
    overflow-x: hidden;
}

h1{
    color: #ffc857;
    text-align: left;
    font-family: "R&C Basic Full", Public Sans, sans-serif;
    font-size: 6rem;
    word-spacing: -20px;
}

h2{
    color: #a8f0ae;
    text-align: left;
    font-family: "R&C Basic Full", Public Sans, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p{
    color: #dbe4ee;
    text-align: left;
    margin-top: 0;
    margin-left: 15px;
    font-family: "R&C Basic Full", Public Sans, sans-serif;
    font-size: 2.5rem;
    width: 750px;
    line-height: 1.5;
    letter-spacing: 0.005em;
}

a{
    color: inherit;
    text-decoration: none;
}

#nagpur{
    position: relative;
    bottom: 23px;
    color: #a8f0ae;
    font-size: 6rem;
    font-family: "R&C Basic Full", Public Sans, sans-serif;
    font-weight: bold;
}

#by-teenagers{
    display: inline-block;
    background-color: #fe8e86;
    color: #0D2B52;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    transform: rotate(5deg);
    font-weight: bold;
}

#by-teenagers:hover{
    transition: all 0.2s ease-in-out;
    scale: 1.2;
    cursor: default;
    background-color: #bd4c44;
}

#for-teenagers{
    display: inline-block;
    background-color: #a8f0ae;
    color: #0D2B52;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    transform: rotate(-3deg);
    font-weight: bold;
}

#for-teenagers:hover{
    transition: all 0.2s ease-in-out;
    scale: 1.2;
    cursor: default;
    background-color: #dbe4ee;
}

#heading{
    display: grid;
    grid-template-rows: min-content;
    margin-top: 80px;
    margin-left: 15px;
}

#components-svg{
    visibility: hidden;
    width: 0;
    height: 0;
}

#blueprint-logo{
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 200px;
    height: auto;
}

#blueprint-logo:hover{
    scale: 1.2;
    transition: all 0.2s ease-in-out; 
}


#blueprint-text-logo{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: auto;
}

#conveyor-belt{
    position: absolute;
    top: 127px;
    left: 985px;
    transform: translateX(-50%);
    z-index: -1;
}

#build-guild-logo{
    position: absolute;
    top: 20px;
    right: 18px;
    animation: rotate 5s linear infinite;
    transform-origin: center;
}

#build-guild-small-logo{
    position: absolute;
    top: 250px;
    right: 305.5px;
    animation: rotate 3.5s linear infinite;
    transform-origin: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.normal-button{
    position: absolute;
    top: 3700px;
    bottom: 40px;
    left: 30px;
    height: fit-content;
    padding: 15px 30px;
    background-color: #ffc857;
    color: #0D2B52;
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    font-family: "R&C Basic Dark", Public Sans, sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.normal-button:hover{
    background-color: #ffb347;
    transition: all 0.2s ease-in-out;
    scale: 1.2;
    cursor: pointer;
}

.normal-button:active{
    background-color: #ffc857;
    transition: all 0.2s ease-in-out;
    scale: 0.9;
    cursor: grabbing;
}

#donate{
    position: absolute;
    left: 220px;
}

#cursor{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 5px;
    height: 30px;
    background-color: #fff;
    pointer-events: none;
    animation: cursor-blink 1s infinite alternate;
}

@keyframes cursor-blink {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
        transform: translateX(5px);
    }
}

#y-axis{
    height: 1px;
    width: 200vw;
    position: fixed;
    z-index: -2;
    background-color: #fff;
    pointer-events: none;
    opacity: 0.4;
}

#x-axis{
    height: 400vh;
    width: 1px;
    position: fixed;
    z-index: -2;
    background-color: #fff;
    pointer-events: none;
    opacity: 0.4;
}

.card{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    top: -420px;
    position: absolute;
    left: 15px;
}

#venue-card{
    margin: 5px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: max-content;
    cursor: pointer;
}

#venue-card:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: pointer;
}

#date-and-time-card{
    margin: 5px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: max-content;
}

#date-and-time-card:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: default;
}

#free-food-card{
    margin: 5px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: max-content;
}

#free-food-card:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: default;
}

#free-swag-card{
    margin: 5px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: max-content;
}

#free-swag-card:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: default;
}

#gas-fund-card{
    margin: 5px;
    background-color: #344b6a;
    padding: 20px;
    border: none;
    border-radius: 15px;
    width: max-content;
    cursor: pointer;
}

#gas-fund-card:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: pointer;
}

#age-card{
    margin: 5px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: max-content;
    cursor: pointer;
}

#age-card:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: default;
}

#about-heading{
    position: absolute;
    top: -550px;
    left: 15px;
    font-family: "R&C Basic Full", Public Sans, sans-serif;
}

.card p{
    font-family: "R&C Basic Light", Public Sans, sans-serif;
    font-size: 1.2rem;
    color: #dbe4ee;
    line-height: 1.5;
    width: 300px;
    margin-left: 0;
}

#about-content{
    position: relative;
    top: 650px;
    left: 15px;
    width: 1000px;   
}


.navbar{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: "R&C Basic Dark", Public Sans, sans-serif;
    font-size: 1.5rem;
    background-color: #344b6a;
    padding: 15px 30px;
    border-radius: 15px;
    z-index: 2;
}

.navbar li{
    cursor: pointer;
}

#nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#schedule-heading{
    position: absolute;
    top: 1250px;
}

#schedule-content{
    position: absolute;
    top: 1400px;
    left: 15px;
    width: 1000px;  
}

#schedule-content ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.schedule-card p{
    padding: 0;
    margin: 0;
    display: flex;
}

#schedule-card-1{
    margin: 5px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: 530px;
    cursor: pointer;
}

#schedule-card-1:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: default;
}

#schedule-card-2{
    margin: 5px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: 530px;
    cursor: pointer;
}

#schedule-card-2:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: default;
}

#schedule-card-3{
    margin: 5px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: 530px;
    cursor: pointer;
}

#schedule-card-3:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: default;
}

#schedule-card-4{
    margin: 5px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: 530px;
    cursor: pointer;
}

#schedule-card-4:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: default;
}

#schedule-card-5{
    margin: 5px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: 530px;
    cursor: pointer;
}

#schedule-card-5:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: default;
}

#faq{
    position: absolute;
    top: 2070px;
}

#faq-heading{
    position: relative;
    left: 20px;
}

#faq ul{
    list-style: none;
}

#faq p{
    padding: 0;
    margin: 0;
    width: 1000px;
}

#faq-card-1{
    margin: 20px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: max-content;
    cursor: pointer;
    position: relative;
    left: 200px;
}

#faq-card-1:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: default;
}

#faq-card-2{
    margin: 20px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: max-content;
    cursor: pointer;
}

#faq-card-2:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: default;
}

#faq-card-3{
    margin: 20px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: max-content;
    cursor: pointer;
    position: relative;
    left: 200px;
}

#faq-card-3:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: default;
}

#faq-card-4{
    margin: 20px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: max-content;
    cursor: pointer;
}

#faq-card-4:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: default;
}

#faq-card-5{
    margin: 20px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: max-content;
    cursor: pointer;
    position: relative;
    left: 200px;
}

#faq-card-5:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: default;
}

#faq-card-6{
    margin: 20px;
    background-color: #344b6a;
    padding: 20px;
    border-radius: 15px;
    width: max-content;
    cursor: pointer;
}

#faq-card-6:hover{
    background-color: #3e5c8a;
    transition: all 0.2s ease-in-out;
    scale: 1.1;
    cursor: default;
}

#faq-numbers h3{
    color: #ffb347;
    font-family: "R&C Basic Full", Public Sans, sans-serif;
    font-size: 5rem;
    margin-bottom: 10px;
    position: relative;
    left: 20px;
}

#faq-1{
    position: absolute;
    top: 2600px;
    left: 20px;
}

@font-face {
    font-family: "R&C Basic Empty";
    src: url(./fonts/RC-BasicEmpty\ \(1\).ttf) format("truetype");
}

@font-face {
    font-family: "R&C Basic Dark";
    src: url(./fonts/RC-BasicDark.ttf) format("truetype");
}

@font-face {
    font-family: "R&C Basic Full";
    src: url(./fonts/RC-BasicFull\ \(1\).ttf) format("truetype");
}

@font-face {
    font-family: "R&C Basic Light";
    src: url(./fonts/RC-BasicLight.ttf) format("truetype");
}

@font-face {
    font-family: "R&C Guidelines";
    src: url(./fonts/RC-GuidelinesLight.ttf) format("truetype");
}

@font-face {
    font-family: "R&C Guidelines Dark";
    src: url(./fonts/RC-GuidelinesDark.ttf) format("truetype");
}

@font-face {
    font-family: "R&C Guidelines Empty";
    src: url(./fonts/RC-GuidelinesEmpty.ttf) format("truetype");
}

@font-face {
    font-family: "R&C Guidelines Full";
    src: url(./fonts/RC-GuidelinesFull.ttf) format("truetype");
}